
@media (min-width: 576px) {
div.post-text, div.tag-text, div.page-text, div.subject-text, div.subjects-text, div.tags-text {
  width: 600px;
}
}



body {
        background: #ECEFF4;
        color: #3B4252;
    font-family: 'Quicksand', sans-serif;
    }

h1 {
  font-family: 'Emblema One', cursive;
}

h1 img {
  width: 2rem;
  max-height: auto;
}

a:link {
  color: #434c5e;
  font-weight: bold;
}

a:hover {
  color: #434c5e;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #5E81AC;
  font-weight: bold;
}

h1 a:link, h3 a:link {
        color: #434c5e;
        text-decoration: none;
    }

h1 a:hover, h1 a:visited {
        color: #434C5E;
        text-decoration: none;
}

h3 a:hover, h3 a:visited {
        color: #5E81AC;
        text-decoration: none;
    }

/* post template */

img.hero {
  display: block;
}

div.post-text {
  font-size: 1.25rem;
}

div.post-text p:first-child, div.page-text p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

/* tag template */

li.post {
    border-top: 3px #D8DEE9 solid;
}


body.tag p.description {
  font-size: 1.25rem;
}

/* About page template */

body.about img.float-left {
  width: 200px;
  max-height: auto;
}