{% extends 'base2.html' %}
{% set active_page = "about" %}

{% block main_title %}
  About us -
{% endblock %}

{% block ogtags %}
<meta property="og:title" content="About Dandelion">
<meta property="og:description" content="I'm Mary-Ann and I home educate my son Cian, who is seven and has never been to school">
<meta property="og:type" content="profile">
<meta property="og:image" content="https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1200/v1611070156/me.jpg">
<meta property="og:url" content="{{ config.BASE_URL }}/about">
<meta name="twitter:card" content="summary_large_image"> <!-- less than 1mb -->
{% endblock %}

{% block body_class %}
  <body class="about page"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
          <h2 class="text-center display-3">About Dandelion</h2>

         <div class="page-text mx-auto">

<p><img src="https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_300/v1611070156/me.jpg" class="float-left mr-3 mb-3 rounded"> I'm Mary-Ann and I home educate my son Cian, who is seven and has never been to school.</p>

<p>I'm interested in the science of learning as it applies outside the classroom. I'm a writer and editor by trade and I also do a lot of Python coding. </p>

<p>Cian and I follow a semi-structured approach to home education, which for us means I plan the English and Maths work and we follow Cian's interests for other subjects. </p>

<p>Contact me at <a href="mailto:maryann.horley@gmail.com">maryann.horley@gmail.com</a>.</p>

           </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}