<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
{% block ogtags %}{% endblock %}


    <title>{% block main_title %}{% endblock %}Dandelion
    </title>
    {{ bootstrap.load_css() }}
    {% from 'bootstrap/form.html' import render_form %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />
    <script async defer data-domain="dandelionhe.com" src="https://stats.dandelionhe.com/js/index.js"></script>

  </head>
  {% block body_class %}{% endblock %}
    <!-- start content -->
    <div class="container-fluid">

      <header class="row">
        <div class="col-sm">
          <ul class="list-inline mt-3 text-center">
            <li class="list-inline-item">
              <a href="https://www.dandelionhe.com">Home</a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.dandelionhe.com/about">About</a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.dandelionhe.com/why_and_how">Why and how to home educate</a>
            </li>
          </ul>
          <h1 class="text-center my-4">
            <a href="https://dandelionhe.com">
              <img src="{{ url_for('static', filename='images/icon.png') }}" class="mb-2">
            Dandelion
            </a>
          </h1>
          
        </div>
      </header>
        <!-- body content -->
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
    
  {% endif %}
{% endwith %}
{% block content %}{% endblock %}
        <!-- /end body content -->

      <footer class="row">
        <div class="col-sm">
          <hr>
          <p><small>&copy; 2020 Curva Tech Ltd</small></p>
        </div>
      </footer>

    </div>


    <!-- /end content -->
    <!-- analytics -->
    {{ bootstrap.load_js() }}
  </body>
</html> 