{% extends 'base2.html' %}
{% set active_page = "downloads" %}

{% block main_title %}
  Downloads -
{% endblock %}

{% block ogtags %}
<meta property="og:title" content="Downloads - Dandelion">
<meta property="og:description" content="Downloadable and printable home education resources">
<meta property="og:image" content="https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1600/v1611071200/kathy-morales-ebbGG4a9go0-unsplash.jpg">
<meta property="og:url" content="{{ config.BASE_URL }}/downloads">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website"> <!-- less than 1mb -->
{% endblock %}

{% block body_class %}
  <body class="downloads"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
          <h2 class="text-center display-3">Downloads</h2>

         <div class="tag-text mx-auto">
<p class="lead">
  This is where all the resources and printables I make go. Most of them are based on things I make for Cian or that I find useful.
</p>
             
           
    
             <ul class="list-unstyled loop">
                 
             {% for item in downloads|sort(attribute='date', reverse=True) %}
                   <li class="download">
                   <a href="{{ config.BASE_URL }}/download/{{ item["item_id"] }}">
                   {{ item["title"] }}
                   </a>
                </li>
        
             {% endfor %}
             </ul>


           </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}