{% extends 'base2.html' %}
{% set active_page = "edit_tag" %}

{% block main_title %}
Edit Tag -
{% endblock %}

{% block body_class %}
  <body class="admin"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
          <h2 class="text-center display-3">            Edit Tag
          </h2>
            
            <a class="btn btn-primary text-center" href="{{ config.BASE_URL }}/admin" role="button">Back to Admin</a>

          <div class="admin-text mx-auto">


<!-- form -->
{{ render_form(form) }}



           </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}