{% extends 'base2.html' %}
{% set active_page = index %}

{% block main_title %}

{% endblock %}

{% block ogtags %}
<meta property="og:title" content="Dandelion - Home education for everyone">
<meta property="og:description" content="Blog about home education in the UK and beyond">
<meta property="og:image" content="https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1600/v1611071200/kathy-morales-ebbGG4a9go0-unsplash.jpg">
<meta property="og:url" content="{{ config.BASE_URL }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website"> <!-- less than 1mb -->
{% endblock %}

{% block body_class %}
  <body class="index"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
         <div class="tag-text mx-auto">

    
             <ul class="list-unstyled loop">
             {% for item in content|sort(attribute='date', reverse=True) %}
             {% if item["type"] == "post" %}
                 <li class="post">
                   <div class="post row mb-4">
              <div class="col-sm image">
                <img src="{{ item["image"] }}" class="img-fluid mb-3" alt="{{ item["title"] }}" >
              </div>
              <div class="col-sm text">
                <h3 class="mt-3"><a href="{{ config.BASE_URL }}/post/{{ item["item_id"] }}">{{ item["title"] }}</a></h3>
                <p class="meta text-monospace small mt-0">{{ item["date"].strftime("%-d %B %Y") }}</p>

            
                     </div>
          </div>



                </li>
              {% endif %}
              {% if item["type"] == "link" %}
                 <li class="link"> <span class="badge badge-secondary">{{ item["type"]|capitalize }}</span> 
                   <a href="{{ item["text"] }}">
                   {{ item["title"] }}
                   
                   <small>({{ item["text"].rpartition("//")[-1].partition("/")[0] }})</small></a>
                <p class="meta text-monospace small">{{ item["date"].strftime("%-d %B %Y") }}</p>
                </li>
              {% endif %}
              {% if item["type"] == "download" %}


                 <li class="download">
                   <span class="badge badge-secondary">{{ item["type"]|capitalize }}</span> <a href="{{ config.BASE_URL }}/download/{{ item["slug"] }}">
                   {{ item["title"] }}
                   </a>
                </li>


              {% endif %}
             {% endfor %}
             </ul>
             




           </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}