{% extends 'base2.html' %}
{% set active_page = info["slug"] %}

{% block main_title %}
  {{ info["title"] }} -
{% endblock %}

{% block ogtags %}
<meta property="og:title" content="{{ info["title"] }} - Dandelion">
<meta property="og:description" content="{{ info["intro"] }}">
<meta property="og:image" content="https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1600/v1611071200/kathy-morales-ebbGG4a9go0-unsplash.jpg">
<meta property="og:url" content="{{ config.BASE_URL }}/page/{{ info["item_id"] }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="article"> <!-- less than 1mb -->
{% endblock %}

{% block body_class %}
  <body class="page {{ info["slug"] }}"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
          <h2 class="text-center display-3">{{ info["title"] }}</h2>

          <div class="tag-text mx-auto">


            {{ text|safe }}



           </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}