{% extends 'single_base.html' %}
{% set active_page = post_id %}

{% block main_title %}
    {{ info["title"] }} -
{% endblock %}


{% block body_class %}
<body class="post">
{% endblock %}

{% block header %}
    
    <img src="{{ info["image"] }}" class="img-fluid rounded border" alt="{{ info["title"] }}">
    
        <small>
            <a href="{{ info["credits"]["url"] }}">{{ info["credits"]["name"] }}</a>
        </small>
    
    <h2>
        {{ info["title"] }}
        <small>{{ date }}</small>
    </h2>
    
    
{% endblock %}

{% block content %}
    {{ text|safe }}
    
{% endblock %}