{% extends 'base2.html' %}
{% set active_page = info["slug"] %}

{% block main_title %}
  {{ info["title"] }} -
{% endblock %}

{% block body_class %}
  <body class="post {{ info["slug"] }}"> 
{% endblock %}

{% block content %}
       
 <div class="row">
        <div class="col-sm post mx-3 clearfix">
          <h2 class="text-center display-3">{{ info["title"] }}</h2>
          <p class="meta text-monospace small text-center">{{ info["date"].strftime("%-d %B %Y") }}</p>
         <img src="{{ info["image"] }}" class="img-fluid mb-3 hero mx-auto" alt="{{ info["title"] }}">
         <small class="text-center">
            Photo by <a href="{{ info["credits"]["url"] }}">{{ info["credits"]["name"] }}</a>
        </small>

         <div class="post-text mx-auto">
{{ text|safe }}
           </div>

        </div>
      </div>



{% endblock %}
