{% extends 'base2.html' %}
{% set active_page = info["slug"] %}

{% block main_title %}
  {{ info["title"] }} -
{% endblock %}


<!-- https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1600/remote_media/sample.jpg 

or

https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1600/v1611072704/sample.jpg

if needed -->

{% block ogtags %}
<meta property="og:title" content="{{ info["title"] }} - Dandelion">
<meta property="og:description" content="{{ info["text"]|truncate(120)|striptags }}">
<meta property="og:image" content="{{ info["image"] }}">
<meta property="og:url" content="{{ config.BASE_URL }}/post/{{ info["item_id"] }}">
<meta name="twitter:card" content="{{ info["image"] }}"> <!-- less than 1mb -->
{% endblock %}

{% block body_class %}
  <body class="post {{ info["slug"] }}"> 
{% endblock %}

{% block content %}
       
 <div class="row">
        <div class="col-sm post mx-3 clearfix">
          <h2 class="text-center display-3">{{ info["title"] }}</h2>
          <p class="meta text-monospace small text-center">{{ info["date"].strftime("%-d %B %Y") }}</p>
         <img src="{{ info["image"] }}" class="img-fluid mb-3 hero mx-auto" alt="{{ info["title"] }}">
         <small class="text-center">
            Photo by <a href="{{ info["credits"]["url"] }}">{{ info["credits"]["name"] }}</a>
        </small>

         <div class="post-text mx-auto">
{{ text|safe }}
           </div>

        </div>
      </div>



{% endblock %}
