{% extends 'base2.html' %}
{% set active_page = "subjects" %}

{% block main_title %}
  Subjects -
{% endblock %}

{% block ogtags %}
<meta property="og:title" content="Subjects - Dandelion">
<meta property="og:description" content="An index of the educational subjects we have covered on Dandelion - maths, English, science and many more">
<meta property="og:image" content="https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1600/v1611071200/kathy-morales-ebbGG4a9go0-unsplash.jpg">
<meta property="og:url" content="{{ config.BASE_URL }}/subjects">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website"> <!-- less than 1mb -->
{% endblock %}

{% block body_class %}
  <body class="subjects"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
          <h2 class="text-center display-3">Subjects</h2>

         <div class="page-text mx-auto">
          <ul class="list-inline">
             {% for subject in subjects|sort(attribute='count', reverse=True) %}
                <li class="list-inline-item">
                  <a href="/subject/{{ subject["slug"] }}" class="btn btn-light mt-3">
                  {{ subject["name"] }} 
                  <span class="badge badge-dark">
                    {{ subject["count"] }}
                    </span>
                  </a> 
                  </li>
              {% endfor %}
          </ul>



        </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}