{% extends 'base2.html' %}
{% set active_page = "tags" %}

{% block main_title %}
  Tags -
{% endblock %}

{% block ogtags %}
<meta property="og:title" content="Tags - Dandelion">
<meta property="og:description" content="An index of the topics we have covered on Dandelion">
<meta property="og:image" content="https://res.cloudinary.com/curva-tech-ltd/image/upload/c_scale,w_1600/v1611071200/kathy-morales-ebbGG4a9go0-unsplash.jpg">
<meta property="og:url" content="{{ config.BASE_URL }}/tags">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website"> <!-- less than 1mb -->
{% endblock %}

{% block body_class %}
  <body class="tags"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
          <h2 class="text-center display-3">Tags</h2>

         <div class="page-text mx-auto">
          <ul class="list-inline">
             {% for tag in tags %}
                <li class="list-inline-item">
                  <a href="{{ config.BASE_URL }}/tag/{{ tag["slug"] }}" class="btn btn-light mt-3">
                  {{ tag["name"] }} 
                  
                  </a> 
                  </li>
              {% endfor %}
          </ul>



        </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}