{% extends 'base2.html' %}
{% set active_page = "why" %}

{% block main_title %}
  Why and how to home educate -
{% endblock %}

{% block body_class %}
  <body class="why tag"> 
{% endblock %}

{% block content %}
        <!-- body content -->

      <div class="row">
        <div class="col-sm post mx-3">
          <h2 class="text-center display-3">Why and how to home educate</h2>

         <div class="tag-text mx-auto">
<p>This page brings together my blog posts on why you might want to home educate and how to do it, and also links from a variety of perspectives.</p>


<h2>Posts</h2>
{% for post in posts %}
 <div class="post row mb-4">
              <div class="col-sm image">

                <img src="{{ post["image"] }}" class="img-fluid rounded border mb-3" alt="{{ post["title"] }}">
              </div>
              <div class="col-sm text">
                <h3><a href="{{ config.BASE_URL }}/post/{{ post["item_id"] }}">{{ post["title"] }}</a></h3>
                <p class="meta text-monospace small">{{ post["date"].strftime("%-d %B %Y") }}</p>
              </div>
          </div>
{% endfor %}




<h2>Links</h2>

<ul class="list-unstyled mb-4">
{% for link in links %}
            <li><a href="{{ link["text"] }}">{{ link["title"] }}</a> <small>({{ link["text"].rpartition("//")[-1].partition("/")[0] }})</small>
            <p class="meta text-monospace small">{{ link["date"].strftime("%-d %B %Y") }}</p>
            </li>
{% endfor %}
          </ul>




           </div>

  

        </div>
      </div>
        <!-- /end body content -->
{% endblock %}